---
---

#coc {
  background-color: rgba(92, 195, 74, 0.85);
  color: white;
  weight: bold;
}

.coc-content {
  text-align: left;
  padding-left: 10rem;
  padding-right: 4rem;
  margin: auto;

  @media (max-width: 900px) {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
