---
---

section.coc {
  overflow: hidden;
  padding-left: 5rem;
  padding-right: 5rem;
}

#coc-header {
  background-color: rgba(92, 195, 74, 0.85);
  color: white;
  weight: bold;
}

.coc-title {
  color: rgba(92,195,74,0.85);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.coc-content {
  text-align: left;
  font-size: 0.85rem;

  @media (max-width: 900px) {
    text-align: left;
    // padding-left: 2rem;
    // padding-right: 2rem;
  }
}

.positive-behaviour {
  float: left;
  width: 50%;
}

.unacceptable-behaviour {
  float: right;
  width: 50%;
}
