---
---

#projects {
  background-color: rgb(205, 0, 96);
  color: white;
}

#projects-header {
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
  background-color: rgb(205, 0, 96);
  color: white;
}

.project-header {
  text-align: right;
}

#project-list {
  padding-left: 6em;
  padding-right: 6rem;
  background-color: white;
  color: rgb(205, 0, 96);

  td, a {
    color: rgba(69,68,68,0.68);
  }

  h1, a:hover {
    color: rgb(205, 0, 96);
  }

  @media(max-width: 800px) {
    padding-left: 0em;
    padding-right: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    td {
      font-size: 1rem;
    }
  }

  @media(max-width: 500px) {
    table {
      border-collapse: collapse;
    }
    tr {
      border-bottom: 1px solid rgba(69,68,68,0.5);
    }
  }
}

.projects-list {
  a {
    color: #00CDCD;
  }
}

.project-title {
  font-size: 1.5rem;
  text-align: right;

  @media(max-width: 800px) {
    font-size: 1rem;
  }
}
