---
---

#sponsors {
  padding-left: 0rem;
  padding-right: 0rem;

  h1 {
    color: rgba(126,0,205,0.93);
  }
}

#sponsors-header {
  background-color: rgba(126,0,205,0.93);
  color: white;
}


.sponsor {
  width: 27%;
  height: auto;
  margin: auto;
  display: inline;
  padding: 2rem;

  @media (max-width: 1000px) {
    width: 11rem;
    height: auto;
    margin: auto;
    display: inline;
    padding: 2rem;
  }

  @media (max-width: 800px) {
    width: 10rem;
    height: auto;
    margin: auto;
    display: block;
    padding: 1rem;
  }
}
