---
---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #00CDCD;
  text-decoration: none;

  &:hover,
 {
    color: rgba(126, 0, 205, 0.93);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.1;
  color: white;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
  font-size: 1rem;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  list-style: inside circle;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ol {
  list-style: inside decimal;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

table {
  margin: auto;
}

th, td {
  text-align: left;
  padding-right: 1.8rem;
  width: 50%;
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto;
}

strong {
  color: #333;
  font-weight: 600;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #999;
  border-left: .5rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  // word-wrap: break-word;
  background-color: #f9f9f9;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.highlight pre {
  margin-bottom: 0;
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.gist .markdown-body {
  padding: 15px;
}

.gist pre {
  padding: 0;
  background-color: transparent;
}

.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;

  @media (max-width: 800px){
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

section#splash {
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

section#header {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.lead {
  font-size: 1.25rem;
}

.container {
  margin-left:  auto;
  margin-right: auto;
}

.headings {
  color: #00CDCD;
}

.logo {
  width: 55%;
  height: auto;
  margin: auto;
}

.small-logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 7%;
  display: inline-block;
  margin-right: 1.5rem;
  margin-top: 1.0rem;

  @media(max-width: 800px) {
    visibility: collapse;
  }
}

.sponsor {
  width: 27%;
  height: auto;
  margin: auto;
  display: inline;
  padding: 2rem;

  @media (max-width: 1000px) {
    width: 11rem;
    height: auto;
    margin: auto;
    display: inline;
    padding: 2rem;
  }

  @media (max-width: 800px) {
    width: 10rem;
    height: auto;
    margin: auto;
    display: block;
    padding: 1rem;
  }
}

#navbar {
    text-transform: uppercase;
    text-align: center;
    border: 0;
    padding-left: 0rem;
    padding-right: 0rem;
}

#about {
  background-color: #00CDCD;
  color: white;
}

#about h1 {
  color: white;
}

#about a {
  color: white;
  &:hover{
    color: rgba(126, 0, 205, 0.93);
  }
}

#schedule-header {
  background-color: #00CDCD;
  color: white;
}

#schedule-content {
  h2, h3 {
    background-color: rgba(92,195,74,0.85);
    margin-bottom: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.row {
  margin: auto;
  width: 100%;
  max-width: 78rem;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  color: rgba(69, 68, 68, 0.68);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#projects {
  background-color: rgb(205, 0, 96);
  color: white;
}

#projects-header {
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
  background-color: rgb(205, 0, 96);
  color: white;
}

.project-header {
  text-align: right;
}

#project-list {
  padding-left: 6em;
  padding-right: 6rem;
  background-color: white;
  color: rgb(205, 0, 96);

  td, a {
    color: rgba(69,68,68,0.68);
  }

  h1, a:hover {
    color: rgb(205, 0, 96);
  }

  @media(max-width: 800px) {
    padding-left: 0em;
    padding-right: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    td {
      font-size: 1rem;
    }
  }

  @media(max-width: 500px) {
    table {
      border-collapse: collapse;
    }
    tr {
      border-bottom: 1px solid rgba(69,68,68,0.5);
    }
  }
}

.project-title {
  font-size: 1.5rem;
  text-align: right;

  @media(max-width: 800px) {
    font-size: 1rem;
  }
}

#map {
  overflow:hidden;
  height:500px;
  width:100%;
  margin-left: auto;
}

#register {
  margin-top: 2rem;
  padding: 1rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(126,0,205,0.93);
}

#location h1 {
  color: rgba(92, 195, 74, 0.85);
}

#sponsors {
  padding-left: 0rem;
  padding-right: 0rem;

  h1 {
    color: rgba(126,0,205,0.93);
  }
}

#sponsors-header {
  background-color: rgba(126,0,205,0.93);
  color: white;
}

#faq-header {
  background-color: #cd0060;
}

#faq-content {

  p {
    margin: 0rem;
  }

  .question {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .answer {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .id {
    font-weight: bold;
    color: #cd0060;
  }
}

#organizers-header {
  background-color: rgba(92, 195, 74, 0.85);
}

#organizers-content {
}

.organizer {
  text-align: left;
  padding: 1rem;
  overflow: auto;
}

.organizer-bio {
  float: right;
  width: 80%;
  font-size: 0.85rem;
}

.organizer-photo {
  width: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto;
  margin: auto;
  display: inline;
  float: left;
  border-radius: 50%;

  @media (max-width: 1000px) {
    width: 11rem;
    height: auto;
    margin: auto;
    display: inline;
    padding: 2rem;
  }

  @media (max-width: 800px) {
    width: 10rem;
    height: auto;
    margin: auto;
    display: block;
    padding: 1rem;
  }
}

.organizer-name {
  font-weight: bold;
  color: #00CDCD;
  font-size: 1rem;
}

#footer {
  background-color: rgba(92, 195, 74, 0.85);
  weight: bold;
  height: 1rem;

  @media(max-width: 800px) {
    height: 4rem;
    padding-top: 1.5rem;
  }

  a {
    color: white;
    font-weight: bold;
  }
}

.footer-text {
  font-size: 0.8rem;
  color: white;
}

p .footer-text{
  @media(max-width: 400px) {
    margin: 0;
  }
}


#coc {
  background-color: rgba(92, 195, 74, 0.85);
  color: white;
  weight: bold;
}

.coc-content {
  text-align: left;
  padding-left: 10rem;
  padding-right: 4rem;
  margin: auto;

  @media (max-width: 900px) {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.item {
  font-size: 0.8rem;
  width: 9rem;
  padding-top: 1.2rem;
  margin-left: 2rem;
  border-bottom: 4px solid transparent;
  color: #00CDCD;
  font-weight: bold;
}

.google-maps {
    position: relative;
    padding-bottom: 40%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.scrolloff {
       pointer-events: none;
}

.projects-list {
  a {
    color: #00CDCD;
  }
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
