<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  {% seo %}
</head>
<body>
  <div class="container">

    <section id="navbar">
      <a href="/index.html#about" class="item">About</a>
      <a href="/projects" class="item">Projects</a>
      <a href="/index.html#location" class="item">Location</a>
      <a href="/coc" class="item">Code of Conduct</a>
      <a href="/index.html#sponsors" class="item">Sponsors</a>
    </section>

    {{ content }}
  </div>
</body>
</html>
