---
layout: default
---

<section id="navbar">
  <a href="/index.html#about" class="item">About</a>
  <a href="/schedule" class="item">Schedule</a>
  <a href="/projects" class="item">Projects</a>
  <a href="/sponsors" class="item">Sponsors</a>
  <a href="/organizers" class="item">Organizers</a>
  <a href="/coc" class="item">Code of Conduct</a>
  <a href="/faq" class="item">FAQ</a>
  <a href="https://twitter.com/chiladieshack" target="_blank"><img border=0 src="images/twitter_icon.png" alt="twitter account @chiladieshack" height="25%" width="25%"></a>
</section>

{{ content }}
